@import url(./__container/gallery__container.css);
@import url(./__image/gallery__image.css);
@import url(./__overlay/gallery__overlay.css);

.gallery {
  position: relative;
  max-width: 1920px;
  display: flex;
  justify-content: start;
  margin: 0 auto;
  padding: 30px 0;
}

@media all and (max-width: 767px) {
  .gallery {
    flex-direction: column;     
  }
}
