.gallery__container {
  position: relative;
  line-height: 0;
}


@media all and (max-width: 767px) {
  .gallery__container:nth-child(3) {
    order: -1;
  }

  .gallery__container:nth-child(8) {
    order: 1;
  }
}
