@import url(./__image/intro__image.css);
@import url(./__container/intro__container.css);
@import url(./__title/intro__title.css);
@import url(./__subtitle/intro__subtitle.css);

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 -60px;
  background-color: #EEEFF1;
  padding: 0 60px 140px;
}
