@import url(./__image/intro__image.css);
@import url(./__container/intro__container.css);
@import url(./__title/intro__title.css);
@import url(./__subtitle/intro__subtitle.css);

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EEEFF1;
  padding-bottom: 140px;
}

@media all and (max-width: 1023px) {
	.intro {        
    padding-bottom: 95px;
  }
}

@media all and (max-width: 767px) {
	.intro {    
    flex-direction: column;
  }
}
