.root {
  max-width: 1110px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 60px;
  font-family: 'Roboto', Arial, sans-serif;
  color: rgba(114, 114, 114);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

@media all and (max-width: 1023px) {
	.root {    
    padding: 0 30px;
  }
}
