.my-skills__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  color: black;
  margin: 0 0 50px;
}

@media all and (max-width: 767px) {
  .my-skills__title {
    text-align: center;
  }
}
