.my-skills__line {
  position: relative;
  height: 4px;
  background-color: #C4C4C4;
  margin-bottom: 30px;
}

.my-skills__line::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 80%;
  height: 100%;
  background-color: #34547A;
}

.my-skills__line:last-child {
  margin-bottom: 0;
}
